@inherits LayoutComponentBase

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <NavMenu />
    <!-- /.sidebar -->
</aside>


<div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">@Body</div>
    </section>
</div>