    <!-- Sidebar -->
    <div class="sidebar">
    <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="skeins">
                        <i class="nav-icon fas fa-database"></i>
                        <p>Skeins</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="projects">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>Projects</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="shoppinglist">
                        <i class="nav-icon fas fa-shopping-basket"></i>
                        <p>Shopping list</p>
                    </NavLink>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
